.contact-banner{
    background: rgba(0, 0, 0, 0.7) url(../../../assets/map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 400px;
}

.contact-banner-content{
    text-align: center;
    position: relative;
    top: 20px;
}

.contact-banner-content p{
    font-size: 22px;
    font-weight: bold;
}

.contact-banner a{
    color: #001952;
    background-color: #8fb3ff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.contact-banner a:hover{
    color:#8fb3ff;
    background-color:  transparent;
    border: 2px solid #8fb3ff;
}